<% if logged_in? %>
<div class="col-md-10 col-md-offset-1">
	<h1>Post your input file</h1>
<div class="well">
        <%= render 'microposts/micropost_form' %>
    </div>
</div>
<% else %>
	
<% end %>
