<%= form_for(@micropost) do |f| %>
  <%= render '/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Enter your code..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>