<!-- 
<div class="col-md-10 col-md-offset-1">
	<%= form_tag(microposts_index_path, :method => "get", id: "search-form", class: "form-inline") do %>
		<div class="form-group">
			<%= text_field_tag :search, params[:search], placeholder: "Search Posts", class:"form-control" %>
		</div>
			<%= submit_tag "Search", class:"btn btn-default" %>

	<% end %>
</div>
 -->

<div class="col-md-10 col-md-offset-1">
  <%= render 'microposts/posts' ,posts: @posts %>
</div>