
<div class="col-md-10 col-md-offset-1">
  <%= render 'microposts/posts' ,posts: @posts %>
</div>

<div class = "col-md-10 col-md-offset-1 text-center">
	<div class="pagination">
			<%= will_paginate @posts, :page_links => false, renderer: BootstrapPagination::Rails %>
	</div>
</div>