@import "bootstrap-sprockets";
@import "bootstrap";

body { 
	padding-top: 70px; 
}

.navbar {
	background-color: #1abc9c;
	border:none;
}

 .navbar-default .navbar-header .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > a {
  color: white;
}

.glyphicon {
	color:#1abc9c;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.nav.navbar-nav.navbar-right p{
	color: white;
}

pre {
    overflow: auto;
}

samp
{
  font-family: "Courier New", monospace;
  white-space: pre;
}

#page_404 {
  font-family:Courier;
  color: #CCCCCC;
  background: #000000;
  padding: 10px;
  font-size:3em;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

